{% extends 'base.html' %}
{% block header %}
  <title>Browse Games</title>
  <link rel="stylesheet" href={{url_for('static', filename='browse.css')}}>
  <script src={{url_for('static', filename='helper.js')}}></script>
  
{% endblock %}
{% block body %}
<div>
    <div style="display: none;">
        <h1>User Games</h1>
        <div id="userGames" class="gameGallery">
            
        </div>
    </div>
    <div style="display: none;">
        <h1>Joinable Games</h1>
        <div id="joinableGames" class="gameGallery">
        </div>
    </div>
    <div id="extraInfo">
            <span id="statistics">Statistics</span>
            <br>
            <button onclick="{document.getElementById('pageOverlay').style.display = 'flex'; document.getElementById('gameCreation').style.display='block'}" class="clickLock" id="createSession">Create Game</button>
    </div>
</div>
<div id="pageOverlay" style="display: none;">
    <div id="overlayWindow">
        <div id="subscreenManager">
            <div id="gameCreation" style="display: none;">
                <form action="#" autocomplete="off">
                    <fieldset>
                        <legend>Lobby Creation</legend>
                        <div class="horzontalFlex">
                            <div>
                                <label for="sessionName">Lobby Title:</label>
                                <div style="display: inline-block;">
                                    <input type="text" oninput="StaggeredNameCheck(this)" name="sessionName" id="sessionName" class="keyboardInput" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                                    <span id="tooltip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="horzontalFlex">
                            <div>
                                <label for="mapType">Map:</label>
                                <select name="mapType" onchange="UpdateNationOptions(this)">
                                    <option disabled selected>--Select a map--</option>
                                    <option value="europa">Europe - 7 players</option>
                                    <option value="roma">Mediteranean - 4 players</option>
                                </select>
                            </div>
                            <div>
                                <label for="nationSelect">Playing as:</label>
                                <select name="nationSelect" id="nationSelector" disabled>
                                <option disabled selected hidden>--Select a map first--</option>
                                </select>
                            </div>
                        </div>
                        
                        <input type="submit" id="formSubmit" onclick="CreateGame(this.parentNode.parentNode); return false" disabled>
                    </fieldset>
                </form>
            </div>
            <div id="JoinGameScreen" style="display: none;">
                <div class="horizontalFlex">
                    <label for="nation">Select Nation:</label>
                    <select name='nation' id='joinGameNationSelect'></select>
                </div>
                <button id="joinGameScreenButton">Join Game</button>
            </div>
        </div>
    </div>
</div>
<script src={{url_for('static', filename='BrowsePage.js')}}></script>
{% endblock %}