{% extends 'base.html' %}

{% block header %}
    <title>Game</title>
    <link rel="stylesheet" href={{url_for('static', filename='game.css')}}>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> 
    <script src={{url_for('static', filename='helper.js')}}></script>
    <script src={{url_for('static', filename='UIManager.js')}}></script>
    <script src={{url_for('static', filename='ServerConnectivity.js')}}></script>
    <script src={{url_for('static', filename='MapManager.js')}}></script>
    <script src={{url_for('static', filename='SocketHandler.js')}}></script>
    <script src={{url_for('static', filename='GameManager.js')}}></script>
    <script src={{url_for('static', filename='InputManager.js')}}></script>
{% endblock %}
{% block body %}
<div>
    <div id='chat'>
        <div id='recipientSelect'>
            <select id='otherPlayers' onchange="SwitchChatFocus(this.value)">
                <option value="all">Everyone</option>
            </select>
        </div>
        <ul id='messages'>
            
        </ul>
        <div id='inputArea'>
            <textarea id="textInput"></textarea>
            <button onclick="SendMessage(document.getElementById('textInput'), document.getElementById('otherPlayers').value)">Send Message</button>
        </div>
    </div>
    <div id='gameArea' style="display: none;">
        <div id='overlayArea'>       
            <div id="backdrop" style="display: none;">
                <div id ='overlayBox'>
                    <div id="actionMenu">
                        <h3 id="actionPrompt">Prompt</h3>
                        <span>Actions go here</span>
                    </div>
                    <div id="PreGame" style="display: none;">
                        <span>Game has not begun yet</span>
                    </div>
                </div>
            </div>
            <div id="sendOrdersButton" onclick="SendCommandsToServer()" style="display: none;">SEND ORDERS</div>
            
        </div>
    </div>
</div>
{% endblock %}
