#gameMap{
    height: 100%;
    width: 100%;
}
#gameArea{
    width: 75%;
    background-color: deepskyblue;
    border: 5px solid black;
    margin: auto;
    position: relative;
}
#overlayArea{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

#backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}
#overlayBox{
    background-color: wheat;
    width: 50%;
    height: 50%;
    position: relative;
    margin: auto;
    outline: black 10px;
    
}

#sendOrdersButton{
    background-color: white;
    outline: black 2px;
    height: 50px;
    width: 100px;
    text-align: center;
    align-items: center;
    pointer-events: all;
    position: absolute;
}

#sendOrdersButton:hover{
    background-color: burlywood;
    outline: black 3px;
}

#sendOrdersButton:active{
    background-color: chocolate;
}

.province{
    z-index: -1;
    stroke: white;
    fill: lightgray;
    stroke-width:2px;
    transition: fill 0.2s;
}
.enabledProvince{
    stroke: black;
    transition: stroke 0.5s;
}
.enabledProvince:hover{
    fill: lightgray !important;
    stroke-width: 3px;
}
.disabledProvince{
    fill: gray !important;
    transition: fill 0.5s;
    stroke-width: 2px;
}

.tank{
    stroke: black;
    stroke-width: 1px;
}

#PreGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#PreGame > * {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}