body{
    background-color: deepskyblue;
}

svg{
    display: block;
    margin: auto;
}
.mapdiv{
    width: 75%;
    margin: auto;
}

.province{
    position: relative;
    z-index: -1;
    stroke: white;
    stroke-width:2px;
    transition: fill 0.2s;
}
.enabledProvince{
    position: relative;
    stroke: black;
    transition: stroke 0.5s;
}
.enabledProvince:hover{
    fill: lightgray !important;
    stroke-width: 3px;
}
.disabledProvince{
    fill: gray !important;
    transition: fill 0.5s;
    stroke-width: 2px;
}