#gameMap{
    height: 100%;
    width: 100%;
}
#gameArea{
    width: 75%;
    background-color: deepskyblue;
    border: 5px solid black;
    margin: auto;
    position: relative;
}
#overlayArea{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#overlayBox{
    background-color: wheat;
    width: 50%;
    height: 50%;
    position: relative;
    margin: auto;
    outline: black 10px;
}
.province{
    z-index: -1;
    stroke: white;
    fill: lightgray;
    stroke-width:2px;
    transition: fill 0.2s;
}
.enabledProvince{
    stroke: black;
    transition: stroke 0.5s;
}
.enabledProvince:hover{
    fill: lightgray !important;
    stroke-width: 3px;
}
.disabledProvince{
    fill: gray !important;
    transition: fill 0.5s;
    stroke-width: 2px;
}

.tank{
    stroke: black;
    stroke-width: 1px;
}