body{
    background-color: deepskyblue;
}

svg{
    display: block;
    margin: auto;
}
.mapdiv{
    width: 75%;
    margin: auto;
}

.province{
    stroke: white;
    stroke-width:2px;
    transition: fill 0.3s;
}
.province:hover{
    fill: gray !important;
    stroke-width: 4px;
}